<nav class="main-menu"><ul>
    <li><a href="/about/">About</a></li>
    <li><a href="/resume/">Résumé</a></li>
    <li><a href="/videos/">Videos</a></li>
    <li><a href="/portfolio/">Portfolio</a></li>

    {{! Add there all your static pages}}
</ul></nav>
